.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/
.DS_Store
/build
/captures
*/build/
releases bin
*.iml
bazel-bin
bazel-dmesh
bazel-out
bazel-testlogs
bazel-genfiles
libEnvoy.so
android/local.properties
