<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:extractNativeLibs="true">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- runtime -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <queries>
        <package android:name="com.github.costinm.dmesh.chat" />
        <intent>
            <action android:name="mesh.direct" />
        </intent>
    </queries>

    <!-- System - only if installed in system, as root.
    <uses-permission android:name="android.permission.NETWORK_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_red"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_red"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/App">

        <!--             android:process=":dmesh"
        -->
        <service
            android:name=".DMService"
            android:enabled="true"
            android:foregroundServiceType="remoteMessaging"
            android:exported="true"/>

        <service
            android:name=".DMeshCompanionService"
            android:exported="true"
            android:permission="android.permission.BIND_COMPANION_DEVICE_SERVICE">
            <intent-filter>
                <action android:name="android.companion.CompanionDeviceService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.github.costinm.dmesh.lm.DMService$Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.github.costinm.dmesh.lm3.BLE_SCAN" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".DMeshShellProvider"
            android:authorities="com.github.costinm.dmesh.lm.shell"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".LMJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:exported="true"
            android:name=".VpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MeshActivityLight"
            android:label="@string/title_activity_main2"
            android:exported="true"
            android:theme="@style/App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.github.costinm.dmesh.START_VPN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebActivity"
            android:label="DMesh Web"
            android:exported="true"
            android:process=":web"
            android:theme="@style/App">
            <intent-filter>
                <action android:name="com.github.costinm.dmesh.web.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
