<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:extractNativeLibs="true"
    package="com.github.costinm.dmesh.lm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_red"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_red"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".DMService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name="com.github.costinm.dmesh.lm.DMService$Receiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name=".LMJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:exported="true"
            android:name=".VpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>


        <activity
            android:name=".WifiActivity"
            android:label="@string/title_activity_main"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SetupActivity"
            android:label="@string/title_activity_main"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
